<div id="top-banner-and-menu">
  <div class="container">
      <div class="col-xs-12 col-sm-4 col-md-3 sidemenu-holder">
          <!-- ================================== TOP NAVIGATION ================================== -->
          <div class="side-menu animate-dropdown">
              <div class="head"><i class="fa fa-list"></i> all departments</div>
              <nav class="yamm megamenu-horizontal" role="navigation">
                  <ul class="nav">
                      <li class="dropdown menu-item">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                          <ul class="dropdown-menu mega-menu">
                              <li class="yamm-content">
                                  <div class="row">
                                      <div class="col-md-4">
                                          <ul class="list-unstyled">
                                              <li><a routerLink="/home">Home</a></li>
                                              <li><a href="index-3.html">Home Alt</a></li>
                                              <li><a href="category-grid.html">Category - Grid/List</a></li>
                                              <li><a href="category-grid-2.html">Category 2 - Grid/List</a></li>
                                              <li><a href="single-product.html">Single Product</a></li>
                                              <li><a href="single-product-sidebar.html">Single Product with Sidebar</a></li>
                                          </ul>
                                      </div>

                                      <div class="col-md-4">
                                          <ul class="list-unstyled">
                                              <li><a href="cart-2.html">Shopping Cart</a></li>
                                              <li><a href="checkout.html">Checkout</a></li>
                                              <li><a href="about.html">About Us</a></li>
                                              <li><a href="contact.html">Contact Us</a></li>
                                              <li><a href="blog.html">Blog</a></li>
                                              <li><a href="blog-fullwidth.html">Blog Full Width</a></li>
                                          </ul>
                                      </div>

                                      <div class="col-md-4">
                                          <ul class="list-unstyled">
                                              <li><a href="blog-post.html">Blog Post</a></li>
                                              <li><a href="faq.html">FAQ</a></li>
                                              <li><a href="terms.html">Terms & Conditions</a></li>
                                               <li><a routerLink="/login">Login/Register</a></li>
                                              <li><a href="404.html">404</a></li>
                                              <li><a href="wishlist.html">Wishlist</a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </li><!-- /.menu-item -->

                      <li class="dropdown menu-item">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Value of the Day</a>
                          <ul class="dropdown-menu mega-menu">
                              <li class="yamm-content">
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                                  <div class="row">
                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                              <li><a href="#">CPUs, Processors</a></li>
                                              <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                              <li><a href="#">Graphics, Video Cards</a></li>
                                              <li><a href="#">Interface, Add-On Cards</a></li>
                                              <li><a href="#">Laptop Replacement Parts</a></li>
                                              <li><a href="#">Memory (RAM)</a></li>
                                              <li><a href="#">Motherboards</a></li>
                                              <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                              <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                          </ul>
                                      </div>

                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Power Supplies Power</a></li>
                                              <li><a href="#">Power Supply Testers Sound</a></li>
                                              <li><a href="#">Sound Cards (Internal)</a></li>
                                              <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                              <li><a href="#">Other</a></li>
                                          </ul>
                                      </div>

                                      <div class="dropdown-banner-holder">
                                          <a href="#"><img alt="" src="assets/images/banners/banner-side.png" /></a>
                                      </div>
                                  </div>
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                              </li>
                          </ul>
                      </li><!-- /.menu-item -->

                      <li class="dropdown menu-item">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Laptops &amp; Computers</a>
                          <ul class="dropdown-menu mega-menu">
                              <li class="yamm-content">
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                                  <div class="row">
                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                              <li><a href="#">CPUs, Processors</a></li>
                                              <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                              <li><a href="#">Graphics, Video Cards</a></li>
                                              <li><a href="#">Interface, Add-On Cards</a></li>
                                              <li><a href="#">Laptop Replacement Parts</a></li>
                                              <li><a href="#">Memory (RAM)</a></li>
                                              <li><a href="#">Motherboards</a></li>
                                              <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                              <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                          </ul>
                                      </div>

                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Power Supplies Power</a></li>
                                              <li><a href="#">Power Supply Testers Sound</a></li>
                                              <li><a href="#">Sound Cards (Internal)</a></li>
                                              <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                              <li><a href="#">Other</a></li>
                                          </ul>
                                      </div>

                                      <div class="dropdown-banner-holder">
                                          <a href="#"><img alt="" src="assets/images/banners/banner-side.png" /></a>
                                      </div>
                                  </div>
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                              </li>
                          </ul>
                      </li><!-- /.menu-item -->

                      <li class="dropdown menu-item">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cameras &amp; Photography</a>
                          <ul class="dropdown-menu mega-menu">
                              <li class="yamm-content">
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                                  <div class="row">
                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                              <li><a href="#">CPUs, Processors</a></li>
                                              <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                              <li><a href="#">Graphics, Video Cards</a></li>
                                              <li><a href="#">Interface, Add-On Cards</a></li>
                                              <li><a href="#">Laptop Replacement Parts</a></li>
                                              <li><a href="#">Memory (RAM)</a></li>
                                              <li><a href="#">Motherboards</a></li>
                                              <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                              <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                          </ul>
                                      </div>

                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Power Supplies Power</a></li>
                                              <li><a href="#">Power Supply Testers Sound</a></li>
                                              <li><a href="#">Sound Cards (Internal)</a></li>
                                              <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                              <li><a href="#">Other</a></li>
                                          </ul>
                                      </div>

                                      <div class="dropdown-banner-holder">
                                          <a href="#"><img alt="" src="assets/images/banners/banner-side.png" /></a>
                                      </div>
                                  </div>
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                              </li>
                          </ul>
                      </li><!-- /.menu-item -->

                      <li class="dropdown menu-item">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Smart Phones &amp; Tablets</a>
                          <ul class="dropdown-menu mega-menu">
                              <li class="yamm-content">
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                                  <div class="row">
                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                              <li><a href="#">CPUs, Processors</a></li>
                                              <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                              <li><a href="#">Graphics, Video Cards</a></li>
                                              <li><a href="#">Interface, Add-On Cards</a></li>
                                              <li><a href="#">Laptop Replacement Parts</a></li>
                                              <li><a href="#">Memory (RAM)</a></li>
                                              <li><a href="#">Motherboards</a></li>
                                              <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                              <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                          </ul>
                                      </div>

                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Power Supplies Power</a></li>
                                              <li><a href="#">Power Supply Testers Sound</a></li>
                                              <li><a href="#">Sound Cards (Internal)</a></li>
                                              <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                              <li><a href="#">Other</a></li>
                                          </ul>
                                      </div>

                                      <div class="dropdown-banner-holder">
                                          <a href="#"><img alt="" src="assets/images/banners/banner-side.png" /></a>
                                      </div>
                                  </div>
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                              </li>
                          </ul>
                      </li><!-- /.menu-item -->

                      <li class="dropdown menu-item">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Video Games &amp; Consoles</a>
                          <ul class="dropdown-menu mega-menu">
                              <li class="yamm-content">
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                                  <div class="row">
                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                              <li><a href="#">CPUs, Processors</a></li>
                                              <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                              <li><a href="#">Graphics, Video Cards</a></li>
                                              <li><a href="#">Interface, Add-On Cards</a></li>
                                              <li><a href="#">Laptop Replacement Parts</a></li>
                                              <li><a href="#">Memory (RAM)</a></li>
                                              <li><a href="#">Motherboards</a></li>
                                              <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                              <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                          </ul>
                                      </div>

                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Power Supplies Power</a></li>
                                              <li><a href="#">Power Supply Testers Sound</a></li>
                                              <li><a href="#">Sound Cards (Internal)</a></li>
                                              <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                              <li><a href="#">Other</a></li>
                                          </ul>
                                      </div>

                                      <div class="dropdown-banner-holder">
                                          <a href="#"><img alt="" src="assets/images/banners/banner-side.png" /></a>
                                      </div>
                                  </div>
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                              </li>
                          </ul>
                      </li><!-- /.menu-item -->

                      <li class="dropdown menu-item">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">TV &amp; Audio</a>
                          <ul class="dropdown-menu mega-menu">
                              <li class="yamm-content">
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                                  <div class="row">
                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                              <li><a href="#">CPUs, Processors</a></li>
                                              <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                              <li><a href="#">Graphics, Video Cards</a></li>
                                              <li><a href="#">Interface, Add-On Cards</a></li>
                                              <li><a href="#">Laptop Replacement Parts</a></li>
                                              <li><a href="#">Memory (RAM)</a></li>
                                              <li><a href="#">Motherboards</a></li>
                                              <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                              <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                          </ul>
                                      </div>

                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Power Supplies Power</a></li>
                                              <li><a href="#">Power Supply Testers Sound</a></li>
                                              <li><a href="#">Sound Cards (Internal)</a></li>
                                              <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                              <li><a href="#">Other</a></li>
                                          </ul>
                                      </div>

                                      <div class="dropdown-banner-holder">
                                          <a href="#"><img alt="" src="assets/images/banners/banner-side.png" /></a>
                                      </div>
                                  </div>
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                              </li>
                          </ul>
                      </li><!-- /.menu-item -->

                      <li class="dropdown menu-item">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gadgets</a>
                          <ul class="dropdown-menu mega-menu">
                              <li class="yamm-content">
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                                  <div class="row">
                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                              <li><a href="#">CPUs, Processors</a></li>
                                              <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                              <li><a href="#">Graphics, Video Cards</a></li>
                                              <li><a href="#">Interface, Add-On Cards</a></li>
                                              <li><a href="#">Laptop Replacement Parts</a></li>
                                              <li><a href="#">Memory (RAM)</a></li>
                                              <li><a href="#">Motherboards</a></li>
                                              <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                              <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                          </ul>
                                      </div>

                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Power Supplies Power</a></li>
                                              <li><a href="#">Power Supply Testers Sound</a></li>
                                              <li><a href="#">Sound Cards (Internal)</a></li>
                                              <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                              <li><a href="#">Other</a></li>
                                          </ul>
                                      </div>

                                      <div class="dropdown-banner-holder">
                                          <a href="#"><img alt="" src="assets/images/banners/banner-side.png" /></a>
                                      </div>
                                  </div>
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                              </li>
                          </ul>
                      </li><!-- /.menu-item -->

                      <li class="dropdown menu-item">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Car Electronic &amp; GPS</a>
                          <ul class="dropdown-menu mega-menu">
                              <li class="yamm-content">
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                                  <div class="row">
                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                              <li><a href="#">CPUs, Processors</a></li>
                                              <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                              <li><a href="#">Graphics, Video Cards</a></li>
                                              <li><a href="#">Interface, Add-On Cards</a></li>
                                              <li><a href="#">Laptop Replacement Parts</a></li>
                                              <li><a href="#">Memory (RAM)</a></li>
                                              <li><a href="#">Motherboards</a></li>
                                              <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                              <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                          </ul>
                                      </div>

                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Power Supplies Power</a></li>
                                              <li><a href="#">Power Supply Testers Sound</a></li>
                                              <li><a href="#">Sound Cards (Internal)</a></li>
                                              <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                              <li><a href="#">Other</a></li>
                                          </ul>
                                      </div>

                                      <div class="dropdown-banner-holder">
                                          <a href="#"><img alt="" src="assets/images/banners/banner-side.png" /></a>
                                      </div>
                                  </div>
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                               </li>
                          </ul>
                      </li><!-- /.menu-item -->

                      <li class="dropdown menu-item">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accessories</a>
                          <ul class="dropdown-menu mega-menu">
                              <li class="yamm-content">
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                                  <div class="row">
                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                              <li><a href="#">CPUs, Processors</a></li>
                                              <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                              <li><a href="#">Graphics, Video Cards</a></li>
                                              <li><a href="#">Interface, Add-On Cards</a></li>
                                              <li><a href="#">Laptop Replacement Parts</a></li>
                                              <li><a href="#">Memory (RAM)</a></li>
                                              <li><a href="#">Motherboards</a></li>
                                              <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                              <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                          </ul>
                                      </div>

                                      <div class="col-xs-12 col-lg-4">
                                          <ul>
                                              <li><a href="#">Power Supplies Power</a></li>
                                              <li><a href="#">Power Supply Testers Sound</a></li>
                                              <li><a href="#">Sound Cards (Internal)</a></li>
                                              <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                              <li><a href="#">Other</a></li>
                                          </ul>
                                      </div>

                                      <div class="dropdown-banner-holder">
                                          <a href="#"><img alt="" src="assets/images/banners/banner-side.png" /></a>
                                      </div>
                                  </div>
                                  <!-- ================================== MEGAMENU VERTICAL ================================== -->
                              </li>
                          </ul>
                      </li><!-- /.menu-item -->

                      <li><a href="http://themeforest.net/item/media-center-electronic-ecommerce-html-template/8178892?ref=shaikrilwan">Buy this Theme</a></li>
                  </ul><!-- /.nav -->
              </nav><!-- /.megamenu-horizontal -->
          </div><!-- /.side-menu -->
          <!-- ================================== TOP NAVIGATION : END ================================== -->
      </div><!-- /.sidemenu-holder -->

      <<div class="col-xs-12 col-sm-8 col-md-9 homebanner-holder">

          <div id="hero">
              <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">

                  <div class="item" style="background-image: url(assets/images/sliders/slider-2.jpg);">
                      <div class="container-fluid">
                          <div class="caption vertical-center text-left">
                              <div class="big-text fadeInDown-1">
                                Pure & Healty <br>
                                Drinking Water<span class="big"><span class="sign"></span></span>
                              </div>

                              <div class="excerpt fadeInDown-2">
                          <br>

                              </div>
                              <div class="small fadeInDown-2">
                                  terms and conditions apply
                              </div>
                              <div class="button-holder fadeInDown-3">
                                  <a href="single-product.html" class="big le-button ">shop now</a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="item" style="background-image: url(assets/images/sliders/slider-1.jpg);">
                      <div class="container-fluid">
                          <div class="caption vertical-center text-left">
                              <div class="big-text fadeInDown-1">
                                  Want a<span class="big"><span class="sign">$</span>200</span>Discount?
                              </div>

                              <div class="excerpt fadeInDown-2">
                                  on selected <br>desktop pcs<br>
                              </div>
                              <div class="small fadeInDown-2">
                                  terms and conditions apply
                              </div>
                              <div class="button-holder fadeInDown-3">
                                  <a href="single-product.html" class="big le-button ">shop now</a>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

      </div>
  </div>
</div>

<!-- <section id="banner-holder" class="wow fadeInUp">
  <div class="container">
      <div class="col-xs-12 col-lg-6 no-margin banner">
          <a href="category-grid-2.html">
              <div class="banner-text theblue">
                  <h1>New Life</h1>
                  <span class="tagline">Introducing New Category</span>
              </div>
              <img class="banner-image" alt="" src="assets/images/blank.gif" data-echo="assets/images/banners/banner-narrow-01.jpg" />
          </a>
      </div>
      <div class="col-xs-12 col-lg-6 no-margin text-right banner">
          <a href="category-grid-2.html">
              <div class="banner-text right">
                  <h1>Time &amp; Style</h1>
                  <span class="tagline">Checkout new arrivals</span>
              </div>
              <img class="banner-image" alt="" src="assets/images/blank.gif" data-echo="assets/images/banners/banner-narrow-02.jpg" />
          </a>
      </div>
  </div>
</section> -->



<div id="products-tab" class="wow fadeInUp">
  <div class="container">
      <div class="tab-holder">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" >
              <li class="active"><a href="#featured" data-toggle="tab">Products</a></li>
              <!-- <li><a href="#new-arrivals" data-toggle="tab">new arrivals</a></li>
              <li><a href="#top-sales" data-toggle="tab">top sales</a></li> -->
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
              <div class="tab-pane active" id="featured">
                  <div class="product-grid-holder">
                      <div class="col-sm-4 col-md-3  no-margin product-item-holder hover" *ngFor="let item of pro_arr">
                          <div class="product-item">
                              <div class="ribbon red"><span>sale</span></div>
                              <div class="image_">
                                  <img alt="" [src]="'http://localhost:3000/images/pro_img/'+item.Images">
                              </div>
                              <div class="body">
                                  <div class="label-discount green"></div>
                                  <div class="title">
                                      <a href="single-product.html">{{item.pro_name}}</a>
                                  </div>
                                  <div class="brand"></div>
                              </div>
                              <div class="prices">
                                  <div class="price-prev">{{item.pro_price}}</div>
                                  <div class="price-current pull-right">{{item.pro_price}}</div>
                              </div>

                              <div class="hover-area">
                                  <div class="add-cart-button">
                                      <a class="le-button" (click)=onAddToCart(item)>add to cart</a>
                                  </div>
                                  <div class="wish-compare">
                                      <a class="btn-add-to-wishlist" href="#">add to wishlist</a>
                                      <a class="btn-add-to-compare" href="#">compare</a>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
                  <div class="loadmore-holder text-center">
                      <a class="btn-loadmore" href="#">
                          <i class="fa fa-plus"></i>
                          load more products</a>
                  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- ========================================= TOP BRANDS ========================================= -->
<section id="top-brands" class="wow fadeInUp">
  <div class="container">
      <div class="carousel-holder" >

          <div class="title-nav">
              <h1>Trusted Partners</h1>
              <div class="nav-holder">
                  <a href="#prev" data-target="#owl-brands" class="slider-prev btn-prev fa fa-angle-left"></a>
                  <a href="#next" data-target="#owl-brands" class="slider-next btn-next fa fa-angle-right"></a>
              </div>
          </div><!-- /.title-nav -->

          <div id="owl-brands" class="owl-carousel brands-carousel">

              <div class="carousel-item">
                  <a href="#">
                      <img alt="" src="assets/images/brands/client-1.png" />
                  </a>
              </div><!-- /.carousel-item -->

              <div class="carousel-item">
                  <a href="#">
                      <img alt="" src="assets/images/brands/client-2.png" />
                  </a>
              </div><!-- /.carousel-item -->

              <div class="carousel-item">
                  <a href="#">
                      <img alt="" src="assets/images/brands/client-3.png" />
                  </a>
              </div><!-- /.carousel-item -->

              <div class="carousel-item">
                  <a href="#">
                      <img alt="" src="assets/images/brands/client-4.png" />
                  </a>
              </div><!-- /.carousel-item -->

              <div class="carousel-item">
                  <a href="#">
                      <img alt="" src="assets/images/brands/client-5.png" />
                  </a>
              </div><!-- /.carousel-item -->

              <div class="carousel-item">
                  <a href="#">
                      <img alt="" src="assets/images/brands/brand-02.jpg" />
                  </a>
              </div><!-- /.carousel-item -->

              <div class="carousel-item">
                  <a href="#">
                      <img alt="" src="assets/images/brands/brand-03.jpg" />
                  </a>
              </div><!-- /.carousel-item -->

              <div class="carousel-item">
                  <a href="#">
                      <img alt="" src="assets/images/brands/brand-04.jpg" />
                  </a>
              </div><!-- /.carousel-item -->

          </div><!-- /.brands-caresoul -->

      </div><!-- /.carousel-holder -->
  </div><!-- /.container -->
</section><!-- /#top-brands -->

